.navBar{
    background-color:greenyellow;
    font-size: large;
    
}
.links{
    text-decoration: lightcoral;
    text-align: center;
}
h1{
    text-align: center;
    text-decoration: lightsalmon;
}